.dashboard {
  position: absolute;
  z-index: -10;
  margin-top: 100px;
}
.filter-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 20vh;
  width: 90vw;
}
.filter-by-date {
  display: flex;
  flex-direction: row;
}
.filter-by-date input,
button {
  border-radius: 5px;
  margin: 10px;
  width: 15vw;
}
.sidebar-list > li > svg,
a {
  font-size: 2vw;
}
